/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}

.bg-login{
	position: absolute;
	top: 0;
	left: -140%;
	height: 100vh;
}

.logo{
	width: 120px;
    position: absolute;
    z-index: 100;
    left: 0;
    margin: 11px auto;
    right: 0;
}

.bar-stable .button.button-clear{
	color: #fff;
}

.bar.bar-stable{
  	background-image: linear-gradient(#000, #1c1d1d) !important;
  	position: relative;
}

.modal-login{
	background-color: transparent;
}

.modal-login .bar-header{
	background: transparent;
}

.modal-login .item{
	background-color: transparent;
	border: none;
}

.google-co, .co{
	width: 250px !important;
  	height: 50px;
  	box-shadow: 1px 1.732px 5px 0px rgb( 0, 0, 0 );
  	border: none;
	border-radius: 0;
	margin: 0 auto;
}

.co{
	background: #24272C !important;
}

.google-co{
	background-color: #db4437 !important;
}

/***** Race Mode *****/

.bg-race{
  background-image: url("../img/bg-race.png");
  background-size: cover;
}

.chrono{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

.bg-race h1{
	color: #fff;
	text-shadow: 2px 2px #000;
	font-size: 22px;
}

.bg-race .btn-race{
	float: left;
	width: 50% !important;
  	height: 50px;
  	box-shadow: 1px 1.732px 5px 0px rgb( 0, 0, 0 );
  	border: none;
	border-radius: 0;
	margin: 0 auto;
	color: #fff;
	position: absolute;
	bottom:40%;
}

.bg-race .btn-race-go{
	background: #24272C !important;
}

.bg-race .btn-race-stop{
	background-color: #db4437 !important;
	margin-left: 50%;
}

#map{
	height: 40% !important;
	width: 100%;
	position: absolute !important;
	bottom: 0 !important;
}

/*** race ***/

.screen-race h1{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.screen-race .item{
	background-color: rgba(0,0,0,0.75);
	border-color: #000;
	color: #fff;
}

/*** main ***/

.main h1{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.main button{
	width: 250px !important;
    height: 50px;
    box-shadow: 1px 1.732px 5px 0px rgb( 0, 0, 0 );
    border: none;
    border-radius: 0;
    margin: 0 auto;
    background: #24272C !important;
}

.profil h3{
	margin-top: 50px;
	color: #fff !important;
	text-shadow: 2px 2px #000;
	font-size: 22px;
}

.profil h6, .profil ul li label{
	margin-top: 20px;
	color: #fff !important;
	font-size: 16px;
}

.profil tr td{
	line-height: 40px;
    height: 40px;
    color: #fff !important;
    display: block;
}

.profil .button-profil{
	text-align: center;
}

.profil button{
	width: 250px !important;
    height: 50px;
    box-shadow: 1px 1.732px 5px 0px rgb( 0, 0, 0 );
    border: none;
    border-radius: 0;
    margin: 10px auto 0 auto;
    color: #fff;
    background: #24272C !important;
}