<ion-view view-title="" class="bg-race">
  <ion-content>
    <div id="map" style= " height : 200px; " data-tap-disabled="true"></div>
<div class="row">
  <div class="col">
      <h1>Global Record</h1>
      <ion-list>
        <ion-item ng-repeat="row in allSessionInThisCircuit | orderBy:'bestTime'" ng-if="row.email && row.email != user.email">
          <h6>Pilote: {{row.email.split('@')[0]}}  Meilleurs temps:  {{row.bestTime}} vMax: {{row.vMax}} Nb tours: {{row.round}} </h6>
        </ion-item>
      </ion-list>
  </div>
  <div class="col">
      <h1>Votre Record</h1>
      <ion-list>
        <ion-item ng-repeat="row in allSessionInThisCircuit | orderBy:'bestTime'" ng-if="row.email && row.email == user.email">
          <h6>Pilote: {{row.email.split('@')[0]}}  Meilleurs temps:  {{row.bestTime}} vMax: {{row.vMax}} Nb tours: {{row.round}} </h6>

        </ion-item>
      </ion-list>
  </div>
</div>
<div class="row">
            <h1 ng-if ='distanceMap != 0'> Distance:{{distanceMap}}</h1>

</div>
    <button ng-click="go('app.racemode')" class="btn-race btn-race-go">Go</button>
    <button ng-click="go('app.main')" class="btn-race btn-race-stop">Annuler</button>
  </ion-content>


</ion-view>


        <!--
      <div class="card">
        <div class="item item-text-wrap">
          <div id="map" style="height:200px;" data-tap-disabled="true"></div>                
        </div>
      </div>

      <h1> CHRONO: {{counter  | secondsToDateTime | date:'HH:mm:ss'}} </h1>
      <h1> LONG: {{longitude}} </h1>
      <h1> LAT: {{latitude}} </h1>
      <h1>Current Speed : {{session.vMax}}</h1>
      <h1>Current Lap : {{session.round}}</h1>
      <h1>BEST ANGLE X : {{session.bestAngler}}</h1>



    -->