<ion-view view-title="" class="bg-race main">
  <ion-content>
    <ion-list>
      <center>
        <div ng-if ="user.google"> <img style="border-radius: 25%;" src="{{user.google.image.url}}" /> </div>
        <div ng-if ="!user.google">{{user.image}}</div>
        <h1>Welcome {{user.email}}</h1>

        <a class="button button-block button-positive" href="#/app/race">Start a Race</a>
        <a class="button button-block button-positive" href="#/app/profil">Profil</a>
        <a class="button button-block button-positive" href="#/app/buildrace">Build a race</a>
        
      </center>
    </ion-list>
  </ion-content>
</ion-view>
