<ion-view view-title="" class="bg-race main">
  <ion-content>
    <ion-list>
      <center>
        <div ng-if ="user.google"> <img src="{{user.google.image.url}}" /> </div>
        <div ng-if ="!user.google">{{user.image}}</div>
        <h1>Welcome {{user.email}}</h1>

        <button class="button button-block button-positive" ng-click="go('app.race')">Start a Race</button>
        <button class="button button-block button-positive" ng-click="go('app.profil')">Profil</button>
        <button class="button button-block button-positive" ng-click="go('app.buildrace')">Build a race</button>
        
      </center>
    </ion-list>
  </ion-content>
</ion-view>
