<div class="bg-race profil" ng-if="user.google.displayName" style='height: 100vh'>
    <div>
        <h3 style="color: black">{{user.google.displayName}}</h3>
    </div>
    <div >
        <ul>
            <li><label>Email: {{user.email}}</label></li>
            <li><label>Gender: {{user.google.gender}}</label></li>
        </ul>
        <h6>List of track you're participed: {{user.google.displayName}} </h6>
        <p ng-if="user.sessions.length == 0">{{user.google.displayName}} didn't race.</p>
          <ion-list ng-if="user.sessions.length != 0">
            <ion-item ng-repeat="s in user.sessions" style="background-color: black;color: white;" ng-if="s.round >= 0">
              <h6>Name: {{s.nom}} Best time:  {{s.bestTime}}<br/> MaxSpeed: {{s.vMax}}<br/> Round: {{s.round}} </h6>
            </ion-item>
          </ion-list>
    </div>
    <div class="button-profil">
        <button type="button" ng-click="ok()">Ok</button>
        <button type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>
<div class="bg-race profil" ng-if="!user.google.displayName" style = 'height: 100vh;'>
    <div>
        <h3 style="color: black">{{user.nom}} {{user.prenom}}</h3>
    </div>
    <div >
        <ul>
            <li><label>Email: {{user.email}}</label></li>
            <li><label>Gender: {{user.sexe}}</label></li>
        </ul>
        <h6>List of track you're participed: {{user.nom}} {{user.prenom}}</h6>
        <p ng-if="user.sessions.length == 0">{{user.nom}} {{user.prenom}} didn't race.</p>
          <ion-list ng-if="user.sessions.length != 0">
            <ion-item ng-repeat="s in user.sessions" style="background-color: black;color: white;" ng-if="s.round >= 0">
              <h6>Name: {{s.nom}} Best time:  {{s.bestTime}}<br/> MaxSpeed: {{s.vMax}}<br/> Round: {{s.round}} </h6>
            </ion-item>
          </ion-list>
    </div>
    <div class="button-profil">
        <button type="button" ng-click="go('app.main')">Back</button>
    </div>
</div>