<ion-view view-title="" class="bg-race screen-race">
  <ion-content>
      <h1>Race: choose a circuit</h1>
      <ion-list>
        <ion-item ng-repeat="circuit in listCircuit">
          <div ng-click="chosenRace(circuit._id)">{{circuit.nom}}</div>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
        <!--
      <div class="card">
        <div class="item item-text-wrap">
          <div id="map" style="height:200px;" data-tap-disabled="true"></div>                
        </div>
      </div>
    -->