<ion-view view-title="Race Mode">
  <ion-content>
<div id="map" style= " height : 200px; " data-tap-disabled="true"></div>
      <h1> CHRONO: {{counter  | secondsToDateTime | date:'HH:mm:ss'}} </h1>
      <h1> LONG: {{longitude}} </h1>
      <h1> LAT: {{latitude}} </h1>
      <h1>Current Speed : {{session.vMax}}</h1>
      <h1>Current Lap : {{session.round}}</h1>
  </ion-content>

</ion-view>


        <!--
      <div class="card">
        <div class="item item-text-wrap">
          <div id="map" style="height:200px;" data-tap-disabled="true"></div>                
        </div>
      </div>
    -->