<ion-view view-title="Race Mode">
  <ion-content>
<div id="map" data-tap-disabled="true"></div>
     <div chrono-timer timer-name="myTimer" start-time="time">
          {{ minutes|zeropad }}:{{ seconds|zeropad }}:{{ milliseconds}}<br />
      </div>
      <h1> LONG: {{long}} </h1>
      <h1> LAT: {{lat}} </h1>
      <h1>Current Speed : {{racing.currentSpeed}}</h1>
      <h1>Current Lap : {{racing.currentLap}}</h1>
  </ion-content>

</ion-view>


        <!--
      <div class="card">
        <div class="item item-text-wrap">
          <div id="map" style="height:200px;" data-tap-disabled="true"></div>                
        </div>
      </div>
    -->